div {
	color: #00000;
	font-family: 'Cormorant Garamond', serif;
	border-style: double;
	border-color: #E3F3EE;

}

p{
	text-align: left;
	font-size-adjust: 
} 






h1 {
	text-align: center;
	color: #DDFFF5;
	p.double {border-style: double;}
	highlight-color: #52C29F;      


}

h3{
	text-align: center;
}




h5{
	text-align: center;

}

img{
	height: 600px;
	width: 600px;

}

p-tag{
	text-align: center;
}



.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


button{
	text-align: center;
}
