div {
	color: #A5A5A5;
	font-family: Crimson Text, Cormorant Garamond, Nanum Myeongjo;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
	border-color: #000000;
	border-style: double; 

}


	
p {
	font-size: 16px;
}

  h1{
	text-align: center;
	color: #686666;
}

	h3{
		font-size: 20px;
	}

a {
	color: #FAEDF9;
	text-decoration: none;
}

a: visited {
	color: #FCFAAF;
}

a: hover {
	color: #E0DEFF;
}

img{
	height: 500px;
	width: 600px;
	margin-bottom: 100px;
	margin-top: 100px;
}